numpy 
pandas 
matplotlib 
seaborn 
scikit-learn 
statsmodels 
scipy 
jupyterlab 
notebook 
ipykernel 
openpyxl 
xlrd 
requests 
beautifulsoup4 
lxml 
sqlalchemy 
psycopg2 
pyarrow 
fastparquet 
plotly 
tqdm 
pyjanitor 
numba 
tensorflow 
nltk 
streamlit 
oracledb 
psycopg2-binary
